<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <img src="/images/logoFinal.png" alt="Logo Campus Swap" />
            </div>
            <h1 class="header-title">Campus Swap</h1>
            <nav>
                <a href="/listado" class="btn">Volver al Listado</a>
            </nav>
        </div>
    </header>
    <main class="about-main">
        <div class="carousel">
            <div class="carousel-content">
                <h1 class="carousel-title">Campus Swap</h1>
                <div class="carousel-container">
                    <button class="carousel-button left" aria-label="Anterior">❮</button>
                    <div class="carousel-track">
                    <img src="../images/student.jpg" alt="Campus Swap Imagen 2">
                    <img src="../images/libros.jpg" alt="Campus Swap Imagen 2">
                    <img src="../images/dormitorio.jpg" alt="Campus Swap Imagen 3">
                </div>
                <button class="carousel-button right" aria-label="Siguiente">❯</button>
            </div>
        </div>
        <section class="about-section">
            <h2>Sobre Campus Swap</h2>
            <p> <strong>
                Campus Swap es una aplicación diseñada para estudiantes universitarios que buscan 
                comprar, vender o intercambiar productos dentro de su comunidad universitaria. 
                Aquí puedes publicar anuncios, explorar artículos disponibles y conectar con otros 
                estudiantes para negociar transacciones.
            </strong></p>
            <p><br/><strong>
                Nuestra misión es facilitar la vida de los estudiantes, especialmente aquellos que, 
                como nosotros, experimentaron el dilema de qué hacer con sus pertenencias al terminar 
                sus estudios o regresar de un intercambio. Queremos ofrecer una plataforma sencilla y 
                confiable para resolver este problema. </strong></p>
            <p> <strong>
                Disfruta de funcionalidades como filtrado por categorías, mensajería interna, gestión 
                de perfil, y mucho más. ¡Forma parte de la comunidad de Campus Swap!</strong></p>
        </section>
    </main>

    <script src="/javascript/about.js"></script>
</body>
</html>
