<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WelcomePage</title>
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styleWelcomePage.css" />
</head>
<body>
	<div class="RecuadroPrincipal">
		<img src="/images/LogoCampusSwap.png" alt="LogoIso" class="logo-img">
    	<a href="/register"><button class="Registro">Registro</button></a>
		<a href="/login"><button class="IniciarSesion">Iniciar Sesión</button></a>
	</div>
</body>
</html>