<div id="cookie-banner">
    <p>Este sitio web utiliza cookies para mejorar la experiencia del usuario.</p>
    <button id="accept-cookies">Aceptar</button>
    <button id="reject-cookies">Rechazar</button>
</div>

<script src="/scripts/cookies.js"></script>