<% if (showCookiePopup) { %>
    <div id="cookie-popup">
      <p>Usamos cookies para mejorar tu experiencia. ¿Aceptas nuestras cookies?</p>
      <div>
        <button id="accept-cookies">Aceptar</button>
        <button id="reject-cookies">Rechazar</button>
      </div>
    </div>
    <% } %>